/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head{
  height: 250px;
  width: 400px;
  margin: 50px auto;
  background-color: snow;
  border-radius: 20px;
  padding: 30px;
  border: 2px solid black;
}
label{
  font-size: 20px;
}
input {
  height: 25px;
  width: 228px;
  /* border: none; */
  /* background-color: black; */
  margin-top: 10px;
  margin-left: 37px;
  /* display: table-footer-group; */
  /* justify-content: flex-end; */
  /* display: inline; */
}
/* input::placeholder{
  color: white;
} */
th {
  border: 1px solid black;
  margin: 24px;
  padding: 10px;
}
td {
  border: 1px solid black;
  padding: 10px;
}
a {
  text-decoration: none;
  height: 20px;
  margin-top: 20px;
  padding: 10px;
  /* background-color: burlywood; */
  height: 20px;
  width: 30px;
}
/* table{
  margin:  60px auto;
} */
#add {
  /* margin: 38px auto; */
  margin-left: 470px;
  background-color: teal;
  border: 2px solid black;
  color: white;
}
button.btn {
  margin-top: 30px;
  padding: 7px;
}
table {
  margin: 60px auto;
  background-color: snow;
  
  padding: 15px;
}
.header {
  background: url(https://c1.wallpaperflare.com/preview/454/327/673/background-black-coffee-business-coffee.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  width: 100%;
  position: fixed;
}
html {
  background: url(https://i.pinimg.com/564x/30/8f/2f/308f2fd627c36e007527bc50337f6c7b.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
}